@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

body {
    background-color: #363636;
}
.card {
    position: relative;
    width: 380px;
    background:brown;
    box-shadow: 0 2px 7px #999;
    font-family: 'Roboto', sans-serif;
}

.badge {
    position: absolute;
    background: red;
    color: #fff;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 3px 10px;
}

.tumb {
    height: 300px;
    background: brown;
    padding: 20px;
    display: grid;
    place-items: center;

}

.tumb img {
    max-width: 100%;
    max-height: 100%;
}

.details {
    padding: 30px;
}

.kategori {
    display: block;
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
}

h4 a {
    font-weight: 500;
    color: #363636;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    text-decoration: uppercase;
    transition: 0.3s;
}

h4 a:hover {
    color: #fbb72c;
}

p {
    color: #999;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
}

.bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.bottom-details div {
    float: left;
    width: 50%;
}

.harga {
    color: #fbb72c;
    font-size: 18px;
    font-weight: 600;
}

small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}

.link {
    text-align: right;
}

.link a {
    color: #e1e1e1;
    margin-left: 5px;
    transition: 0.3s;
    font-size: 17px;
}

.link a:hover {
    columns: #fbb72c;
}
